<div *ngIf="blog && blog.layoutStyle === '1'" [ngStyle]="{'background-color': blog.background}">
    <div>
        <mat-card class="margin_lg">
            <h1>{{title}}</h1>
            <div class="margin_md">
                <p class="text__align-center">Here you can create unique page for your fascinating blog. Just press this
                    magic
                    button below.</p>
            </div>

            <!--<div>-->
            <!--<button mat-button (click)="navigateToBlogCreationPage()">Create your blog!</button>-->
            <!--</div>-->
        </mat-card>
    </div>

    <p *ngIf="postErroro" style="background-color: #ff7580" class="margin_sm">
        <span class="margin_sm">{{postErroro}}</span>
    </p>
    <div style="font-family: 'Trocchi', serif; font-weight: normal;" class="div_display-flex">
        <div *ngFor="let post of posts">
            <mat-card class="margin_lg basic-card-width" style="width: 550px;hight:230px;">
                <h2>{{post.postTitle}}</h2>
                <div>
                    <p>{{post.post}}</p>
                </div>
            </mat-card>
        </div>

        <mat-card class="margin_lg basic-card-width">
            <h2>Add new article or message!</h2>

            <mat-form-field>
                <input matInput placeholder="Post title" [(ngModel)]="postTitle">
            </mat-form-field>
            <mat-form-field style="width: 500px;">
                <textarea matInput [(ngModel)]="postMessage" placeholder="Write text here"></textarea>
            </mat-form-field>
            <button mat-button (click)="addPost()">Add text!</button>
        </mat-card>
    </div>

</div>

<div *ngIf="blog && blog.layoutStyle === '2'" [ngStyle]="{'background-color': blog.background}">
    <div>
        <mat-card class="margin_lg">
            <h1>{{title}}</h1>
            <div class="margin_md">
                <p class="text__align-center">Here you can create unique page for your fascinating blog. Just press this
                    magic
                    button below.</p>
            </div>

            <!--<div>-->
            <!--<button mat-button (click)="navigateToBlogCreationPage()">Create your blog!</button>-->
            <!--</div>-->
        </mat-card>
    </div>

    <p *ngIf="postErroro" style="background-color: #ff7580" class="margin_sm">
        <span class="margin_sm">{{postErroro}}</span>
    </p>
    <div style="font-family: 'Enriqueta', arial, serif; margin: 0 0 10px;" class="div_display-flex">
        <div *ngFor="let post of posts">
            <mat-card class="margin_lg" style="min-height: 100px">
                <h2>{{post.postTitle}}</h2>
                <div>
                    <p>{{post.post}}</p>
                </div>
            </mat-card>
        </div>

        <mat-card class="margin_lg basic-card-width">
            <h2>Add new article or message!</h2>

            <mat-form-field>
                <input matInput placeholder="Post title" [(ngModel)]="postTitle">
            </mat-form-field>
            <mat-form-field style="width: 500px;">
                <textarea matInput [(ngModel)]="postMessage" placeholder="Write text here"></textarea>
            </mat-form-field>
            <button mat-button (click)="addPost()">Add text!</button>
        </mat-card>
    </div>

</div>

<div *ngIf="blog && blog.layoutStyle === '3'" [ngStyle]="{'background-color': blog.background}">
    <div>
        <mat-card class="margin_lg">
            <h1>{{title}}</h1>
            <div class="margin_md">
                <p class="text__align-center">Here you can create unique page for your fascinating blog. Just press this
                    magic
                    button below.</p>
            </div>

            <!--<div>-->
            <!--<button mat-button (click)="navigateToBlogCreationPage()">Create your blog!</button>-->
            <!--</div>-->
        </mat-card>
    </div>

    <p *ngIf="postErroro" style="background-color: #ff7580" class="margin_sm">
        <span class="margin_sm">{{postErroro}}</span>
    </p>
    <div style="font-family: 'Great Vibes', cursive;" class="div_display-flex , advanced-card-width">
        <div *ngFor="let post of posts">
            <mat-card class="margin_lg advanced-card-width" style="width: 550px;hight:230px;">
                <h2>{{post.postTitle}}</h2>
                <div>
                    <p>{{post.post}}</p>
                </div>
            </mat-card>
        </div>

        <mat-card class="margin_lg advanced-card-width">
            <h2>Add new article or message!</h2>

            <mat-form-field>
                <input matInput placeholder="Post title" [(ngModel)]="postTitle">
            </mat-form-field>
            <mat-form-field style="width: 500px;">
                <textarea matInput [(ngModel)]="postMessage" placeholder="Write text here"></textarea>
            </mat-form-field>
            <button mat-button (click)="addPost()">Add text!</button>
        </mat-card>
    </div>

</div>