
<mat-card class="margin_max">
    <h1>Create your blog !</h1>
    <div class="margin_md">
        <p class="text__align-center">Here you can create unique page for your fascinating blog. Just press this magic
            button below.</p>
    </div>

    <div>
        <button mat-button (click)="navigateToBlogCreationPage()">Create your blog!</button>
    </div>
</mat-card>

<mat-card style="text-align: center" class="margin_max">
    <h2>Already have created a blog page ?</h2>
    <div class="margin_md">
        <p class="text__align-center">If you already have created your blog page, just write your blog title in the
            field and press open blog.</p>
    </div>

    <!--<form [formGroup]="form">-->
        <mat-form-field>
            <input matInput [(ngModel)]="title" placeholder="Blog title">
        </mat-form-field>
    <!--</form>-->


    <p *ngIf="error" class="margin_sm" style="background-color: #de5f62">
        <span class="margin_sm">{{error}}</span>
    </p>

    <div>
        <button mat-button (click)="getBlog()">Open blog</button>
    </div>
</mat-card>